@page "/setting"


@inject UserClient Client
@inject NavigationManager Navigation
@using LoginFront.Clients
@using LoginFront.models
@attribute [StreamRendering]

<PageTitle>Setting</PageTitle>

@if (users is null)
{
    <p><em>Loading....</em></p>
}
else
{
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/gallery">Gallery</a>
            <a class="navbar-brand" href="/setting">Setting</a>
        </div>
    </nav>
    
    <table class="table table-scriped table-bordered table-hover mt-3">
        <thead class="table-dark">
        <th>유저 리스트</th>
        <th></th>
        </thead>
        
        <thead class="table-dark">
        <th>Nickname</th>
        <th>Email</th>
        </thead>

        <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Nickname</td>
                <td>@user.Email</td>
                @* <td> *@
                @*     <div> *@
                @*         <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteMoalId(user)"> *@
                @*             <i class="bi bi-x-lg"></i> *@
                @*         </button> *@
                @*     </div> *@
                @*     <DeleteModal User="@user"/> *@
                @* </td> *@
            </tr>
        }
        </tbody>
    </table>
    
    <div class="mt-2">
        <a class="btn btn-primary" role="button" style="float: right" onclick="@OnClickLogout">Logout</a>
    </div>
}

@code
{
    private UserSummary[]? users;

    protected override async Task OnInitializedAsync()
    {
        if(ClientInfo.userinfo is null)
            Navigation.NavigateTo("/");

        users = await Client.GetUsersAsync();
    }
    
    private string GetDeleteMoalId(UserSummary user)
    {
        System.Diagnostics.Debug.WriteLine("OnClick Delete");
        return $"#{DeleteModal.GetModalId(user)}";
    }

    private void OnClickLogout()
    {
        ClientInfo.userinfo = null;
        Navigation.NavigateTo("/");
    }
}